<div class="layout-1">
    <div id="tsparticles-custom"></div>
    <div class="layout-container">
        <script type="text/javascript">
            tsParticles.load("tsparticles-custom", {
                fullScreen: {
                    enable: false,
                },
                interactivity: {
                    events: {
                        onClick: {
                            enable: false,
                            mode: "push",
                        },
                        onHover: {
                            enable: true,
                            mode: "grab",
                            parallax: {
                                enable: true,
                                force: 60,
                                smooth: 10,
                            },
                        },
                    },
                    modes: {
                        push: {
                            quantity: 6,
                        },
                        repulse: {
                            distance: 100,
                        },
                        grab: {
                            distance: 300,
                            links: {
                                blink: false,
                                consent: false,
                                opacity: 1,
                            },
                        },
                    },
                },
                particles: {
                    number: {
                        value: 80,
                        density: {
                            enable: true,
                            value_area: 800,
                        },
                    },
                    color: {
                        value: "#55bb4f",
                    },
                    shape: {
                        type: "circle",
                        stroke: {
                            width: 0,
                            color: "#ffffff",
                        },
                        polygon: {
                            nb_sides: 5,
                        },
                    },
                    opacity: {
                        value: 0.7,
                        random: true,
                        anim: {
                            enable: false,
                            speed: 0.8,
                            opacity_min: 0.3,
                            sync: false,
                        },
                    },
                    size: {
                        value: 5,
                        random: true,
                        anim: {
                            enable: false,
                            speed: 40,
                            size_min: 0.3,
                            sync: false,
                        },
                    },
                    line_linked: {
                        enable: true,
                        distance: 150,
                        color: "#439A4D",
                        opacity: 0.65,
                        width: 0.8,
                    },
                    move: {
                        enable: true,
                        speed: 2,
                        direction: "none",
                        random: false,
                        straight: false,
                        out_mode: "out",
                        bounce: false,
                        attract: {
                            enable: false,
                            rotateX: 600,
                            rotateY: 1200,
                        },
                    },
                },
            });
        </script>

        <div class="hero-section">
            <div class="hero-title">
                <h1>
                    <!-- A Comparative Analysis of <br /> Machine Learning Algorithm <br
                    />and Hybrid Algorithm For <br /> Crop Calendar Prediction -->
                    Empowering <br class="aftermmsu" /> MMSU Farmers:
                    <span>Smart Decisions, Bountiful Harvest</span>
                </h1>
                <p class="subheading">
                    <span
                        >A Thesis Research Study on <span style="color:#195826;"
                            >Enhancing Precision Agriculture at <br />MMSU i4.0:
                            A Comparative Analysis of Machine Learning Algorithm <br
                            />and Hybrid Algorithm For Crop Calendar Prediction</span
                        ></span
                    >
                </p>
            </div>
            <div class="hero-img">
                <svg
                    width="643"
                    height="430"
                    viewBox="0 0 643 430"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M321.5 0L429 107.5L321.5 215L214 107.5L321.5 0Z"
                        fill="#A0A0A0"></path>
                    <path
                        d="M536 0L643 107.5L536 215L429 107.5L536 0Z"
                        fill="#717171"></path>
                    <path
                        d="M107 215L214 322.5L107 430L0 322.5L107 215Z"
                        fill="#D9D9D9"></path>
                    <path
                        d="M321.5 215L429 322.5L321.5 430L214 322.5L321.5 215Z"
                        fill="#C5C5C5"></path>
                </svg>
            </div>
        </div>
        <div class="button-wrapper">
            <a href="/app"
                ><button class="explore-button">
                    <span>Get Started</span></button
                ></a
            >
            <a href="/docs"
                ><button class="sysdocs"><span>Documentation</span></button></a
            >
        </div>
    </div>
</div>

<style lang="scss">
    .layout-1 {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cfcfcf59;
    }
    .layout-container {
        max-width: 1440px;
        flex-grow: 1;
        padding: 4rem 1.25rem 0 1.25rem;
    }

    .subheading {
        font-size: clamp(0.75rem, 1vw + 0.75rem, 2rem);
        font-weight: 500;
        text-shadow: 0px 3px 10.8px rgba(0, 0, 0, 0.096);
        line-height: 140%;
        span {
            font-size: clamp(0.75rem, 1vw + 0.75rem, 1.375rem);
        }
    }
    h1 {
        font-size: clamp(1.5rem, 2vw + 2rem, 10rem);
        span {
            font-family: inherit;
            font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
        }
    }
    .hero-section {
        display: grid;
        grid-auto-flow: column;
    }
    .hero-title {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.75rem;
        .aftermmsu {
            display: none;
        }
    }
    .hero-img {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        svg {
            width: clamp(300px, 80%, 500px);
            height: auto;
            path:hover {
                fill: rgb(25, 92, 47);
                fill-opacity: 0.7;
                filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
            }
        }
    }

    .button-wrapper {
        display: flex;
        gap: 1rem;
        margin-top: 1.8rem;
        a {
            text-decoration: none;
        }
    }
    .explore-button,
    .sysdocs {
        border: none;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        border-radius: 0.375rem;
    }
    .explore-button {
        padding: 1rem 3.55rem;
        background: linear-gradient(
            87deg,
            #1e2320 1.58%,
            rgba(30, 35, 32, 0.69) 99.69%
        );

        span {
            color: #fff;
            font-size: 1.5rem;
        }
    }
    button:hover {
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
        transform: scale(1.025);
        transition: all 0.5s ease;
    }
    button:not(:hover) {
        transition: all 1s ease;
    }
    .sysdocs {
        padding: 1rem 2rem;
        outline: 2px solid #717171;
        background: linear-gradient(
            180deg,
            #d8d8d8 0%,
            rgba(255, 255, 255, 0) 100%
        );

        span {
            color: #4e4e4e;
            font-size: 1.5rem;
        }
    }
    .explore-button span,
    .sysdocs span {
        font-weight: 600;
    }
    #tsparticles-custom {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0;
        margin: 0;
        z-index: -1; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
    }

    @media (max-width: 1200px) {
        .hero-section {
            display: grid;
            grid-auto-flow: row;
            row-gap: 5%;
            .hero-title {
                text-align: center;
            }
        }
        .layout-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
        }

        .layout-1 {
            align-items: initial;
            min-height: 85vh;
        }
        .hero-img {
            display: none;
        }
    }

    @media (max-width: 480px) {
        .button-wrapper {
            width: 100%;
            margin-top: 1rem;
            display: flex;
            flex-direction: column-reverse;
            gap: 1rem;
            button span {
                font-size: 1.5rem;
            }
            .sysdocs {
                width: 100%;
            }
        }
        a {
            text-decoration: none;
        }
        .explore-button {
            width: 100%;
        }
        .subheading br {
            display: none;
        }
        .hero-title .subheading {
            line-height: 180%;
            text-align: left;
        }
        .hero-title h1 {
            font-size: clamp(1.5rem, 3vw + 2rem, 3rem);
            text-align: left;
            span {
                font-size: clamp(1.5rem, 3vw + 1.5rem, 3rem);
            }
            .aftermmsu {
                display: block;
            }
        }
    }
</style>
