---
import Cards from "../Cards.astro";
---

<div class="container">
    <div class="section-title">
        <h1>Related Information</h1>
    </div>
    <div class="cards">
        <Cards
            cardnum="01"
            title="Hybrid Algorithm"
            action="learn more"
            link="/"
            background="background: linear-gradient(180deg,#1e2320 0%,rgba(0, 0, 0, 0.77) 83%,rgba(30, 35, 32, 0.85) 100%);color:#E9E9E9;"
        >
            <svg
                class="blck"
                width="310"
                height="234"
                viewBox="0 0 310 234"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M63.9766 92.8875C45.1612 87.0076 29.8897 79.3831 19.3716 70.6179C8.85349 61.8526 3.37759 52.1874 3.37759 42.3875L3.37758 3.24999M306.372 230.5L306.372 190.1C305.82 180.833 300.375 171.73 290.425 163.438C280.475 155.146 266.265 147.87 248.803 142.125M3.3776 230.5L3.3776 190.1C3.22534 179.206 9.84242 168.48 22.5852 158.967C35.3281 149.454 53.7628 141.477 76.0963 135.813L233.654 97.9375C255.987 92.2725 274.422 84.2956 287.165 74.7826C299.908 65.2695 306.525 54.5443 306.372 43.65L306.372 3.24997M306.372 205.25L3.3776 205.25M294.253 167.375L12.4674 167.375M276.073 66.375L12.4674 66.375M306.372 28.5L3.37759 28.5"
                    stroke="#E9E9E9"
                    stroke-width="6.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </Cards>
        <Cards
            cardnum="02"
            title="Machine Learning "
            action="learn more"
            background="background: linear-gradient(180deg,#1e2320 0%,rgba(0, 0, 0, 0.77) 83%,rgba(30, 35, 32, 0.85) 100%);color:#E9E9E9;"
        >
            <svg
                class="blck"
                viewBox="0 0 313 222"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    class="ml"
                    d="M21.7104 221.079C14.833 220.36 9.14013 216.99 5.39786 211.422C0.113779 203.56 0.69287 192.837 6.7939 185.57C10.2294 181.478 14.6707 178.925 19.9687 177.995C22.2494 177.594 25.4167 177.665 27.9779 178.173C30.086 178.591 32.9658 179.718 34.8419 180.859L35.2813 181.126L34.8794 180.777L34.4774 180.428L43.9357 167.761C49.1377 160.795 54.7111 153.326 56.321 151.164C57.9308 149.002 60.3409 145.769 61.6766 143.98L64.1051 140.726L61.5548 139.006C60.1521 138.059 56.789 135.8 54.0813 133.984C42.4117 126.158 38.5468 123.54 38.5457 123.458C38.5446 123.409 38.6438 123.223 38.7652 123.044C38.8866 122.864 38.6419 123.09 38.2214 123.544C34.3818 127.697 30.1896 129.933 24.7146 130.75C23.1855 130.978 19.8056 130.925 18.2683 130.648C15.117 130.08 12.3624 128.987 9.79703 127.285C8.4864 126.416 7.49705 125.572 6.11943 124.15C4.3928 122.367 3.00085 120.319 2.0348 118.141C-0.629354 112.135 -0.501538 105.457 2.38928 99.6216C4.53196 95.2966 7.87166 91.9426 12.1854 89.7836C15.3737 88.1878 19.0282 87.3929 22.5392 87.5315C28.1323 87.7523 33.0239 89.8337 37.0216 93.6939C37.5799 94.2331 38.2999 95.0024 38.6217 95.4036C39.4903 96.4865 39.5364 96.5029 38.8849 95.4966C38.715 95.2342 38.7161 95.2166 38.9108 95.0892C40.4028 94.1134 57.0755 83.2935 59.5942 81.6665C61.457 80.4633 62.9648 79.4282 62.9449 79.3664C62.9249 79.3045 59.7396 75.022 55.8664 69.8497C51.9932 64.6775 45.5998 56.1398 41.6589 50.8772L34.4936 41.3089L34.8874 40.9688C35.24 40.6644 35.1944 40.6795 34.4525 41.1129C29.0415 44.2737 22.0891 44.9122 16.2199 42.7873C11.7325 41.1627 7.92189 38.1645 5.33552 34.2231C3.18034 30.9389 1.97225 27.1707 1.80359 23.2066C1.47915 15.5815 5.26834 8.2871 11.7411 4.07649C12.7921 3.3928 15.2468 2.19265 16.3753 1.81082C18.7906 0.993537 20.7975 0.666411 23.4197 0.66248C26.9338 0.657204 29.7987 1.28485 32.795 2.71641C35.3019 3.91411 37.2186 5.28452 39.1212 7.23944C40.8532 9.01901 42.0429 10.7367 43.1589 13.0693C44.1549 15.151 44.8227 17.3874 45.0616 19.4416C45.1238 19.9762 45.191 20.5533 45.2109 20.724C45.2308 20.8947 45.2541 20.7434 45.2626 20.3878L45.2781 19.7413H89.6166H133.955L133.971 20.3878C133.979 20.7434 134.002 20.8947 134.022 20.724C134.042 20.5533 134.109 19.9762 134.172 19.4416C134.299 18.3421 134.74 16.4536 135.153 15.2339C135.495 14.2246 136.563 11.9749 137.164 11.0005C138.342 9.08703 140.34 6.80592 142.035 5.43742C143.825 3.9927 146.626 2.45271 148.717 1.76332C154.293 -0.0747086 160.216 0.32386 165.331 2.88125C167.705 4.06815 169.524 5.39912 171.362 7.29323C173.048 9.03075 174.241 10.7617 175.346 13.0693C176.342 15.151 177.009 17.3874 177.248 19.4416C177.31 19.9762 177.378 20.5533 177.397 20.724C177.417 20.8947 177.441 20.7434 177.449 20.3878L177.465 19.7413H223.046H268.628L268.643 20.3878C268.652 20.7434 268.675 20.8947 268.695 20.724C268.715 20.5533 268.782 19.9762 268.844 19.4416C269.083 17.3874 269.751 15.151 270.747 13.0693C271.875 10.7129 273.055 9.01456 274.836 7.18777C276.759 5.21561 278.491 3.97302 280.976 2.78316C283.14 1.74724 284.865 1.20883 287.192 0.843023C288.901 0.574271 292.259 0.605431 293.957 0.905805C300.246 2.01874 305.634 5.65159 308.929 11.0005C309.529 11.9749 310.598 14.2246 310.939 15.2339C311.761 17.6592 312.084 19.7035 312.077 22.4308C312.068 25.9634 311.481 28.5329 309.954 31.7201C307.812 36.1926 304.29 39.7351 299.861 41.8742C293.345 45.0206 285.529 44.7214 279.423 41.0917C278.489 40.5365 278.305 40.5304 279.092 41.0808C279.306 41.2305 279.132 41.4719 272.417 50.3228C268.626 55.3214 262.859 62.9256 259.603 67.221C256.346 71.5164 252.828 76.1558 251.784 77.5307L249.885 80.0306L256.589 84.3514C260.276 86.7279 265.53 90.1118 268.265 91.8713C271 93.6307 273.296 95.1245 273.367 95.1908C273.468 95.286 273.44 95.3976 273.23 95.7221C272.996 96.0855 273.016 96.0732 273.403 95.6158C274.214 94.6594 276.442 92.5134 277.247 91.9139C280.172 89.7337 283.49 88.3305 287.12 87.7385C288.508 87.5121 291.799 87.4882 293.283 87.6938C299.533 88.5591 305.055 92.0485 308.588 97.3656C311.249 101.371 312.498 106.411 312.027 111.243C311.638 115.244 310.197 118.993 307.81 122.217C306.888 123.462 304.34 125.968 303.125 126.825C299.057 129.694 294.454 131.091 289.669 130.91C286.277 130.781 283.598 130.094 280.57 128.575C278.214 127.393 276.621 126.202 274.576 124.09C273.845 123.335 273.35 122.864 273.475 123.044C273.601 123.223 273.703 123.409 273.702 123.458C273.7 123.547 272.857 124.117 257.52 134.411C252.693 137.652 248.755 140.34 248.768 140.385C248.791 140.461 257.078 151.373 272.863 172.111L279.281 180.541L278.953 180.824C278.756 180.994 279.085 180.847 279.777 180.456C281.751 179.339 284.277 178.455 286.814 177.992C288.437 177.695 292.028 177.67 293.646 177.943C296.145 178.365 297.938 178.938 300.069 179.994C307.145 183.5 311.747 190.59 312.099 198.525C312.333 203.801 310.494 209.242 307.116 213.264C303.647 217.395 299.206 219.932 293.75 220.899C292.275 221.16 288.701 221.159 287.12 220.897C283.308 220.266 280.04 218.87 277.071 216.605C276.18 215.925 274.522 214.307 273.648 213.264C270.978 210.077 269.138 205.695 268.739 201.574L268.656 200.713L268.642 201.359L268.628 202.006H223.254H177.879L177.865 201.359L177.851 200.713L177.768 201.574C177.369 205.697 175.525 210.088 172.858 213.264C170.832 215.676 168.57 217.467 165.81 218.842C162.479 220.502 159.133 221.239 155.503 221.111C150.754 220.943 146.537 219.446 142.812 216.605C141.921 215.925 140.263 214.307 139.389 213.264C136.719 210.077 134.879 205.695 134.481 201.574L134.398 200.713L134.384 201.359L134.369 202.006H89.8238H45.2781L45.264 201.359L45.2499 200.713L45.1667 201.574C44.768 205.697 42.924 210.088 40.2566 213.264C39.3764 214.312 37.8432 215.81 36.887 216.556C34.0495 218.77 30.4348 220.319 26.7744 220.889C25.7768 221.044 22.5404 221.166 21.7104 221.079ZM25.7506 215.818C31.5456 214.989 36.4361 211.289 38.6938 206.027C42.2302 197.784 38.7824 188.503 30.7231 184.57C29.4329 183.94 28.2748 183.514 27.2341 183.287C22.4943 182.253 17.8273 183.207 13.861 186.021C7.8855 190.26 5.44907 198.059 7.93031 205.005C9.34669 208.971 12.3651 212.362 16.1163 214.203C18.0469 215.15 19.8118 215.673 21.7104 215.86C23.0575 215.993 24.6433 215.977 25.7506 215.818ZM159.363 215.661C165.494 214.369 170.311 209.941 172.023 204.024C173.15 200.132 172.817 195.998 171.084 192.334C168.728 187.356 163.77 183.739 158.32 183.023C151.844 182.171 145.432 185.235 141.972 190.834C139.688 194.53 138.979 199.27 140.077 203.505C140.858 206.521 142.315 209.032 144.579 211.264C147.163 213.811 150.687 215.478 154.311 215.868C155.642 216.01 158.203 215.906 159.363 215.661ZM292.558 215.819C295.127 215.472 297.35 214.641 299.499 213.226C302.783 211.061 305.191 207.796 306.282 204.024C307.408 200.132 307.076 195.998 305.342 192.334C302.661 186.668 296.68 182.872 290.435 182.873C284.077 182.874 278.125 186.625 275.423 192.334C273.54 196.314 273.312 200.868 274.79 205.005C276.206 208.971 279.225 212.362 282.976 214.203C286.056 215.714 289.294 216.26 292.558 215.819ZM89.8287 196.833H134.369L134.384 197.48L134.398 198.126L134.48 197.278C134.724 194.761 135.491 192.136 136.712 189.644C137.019 189.018 137.188 188.62 137.089 188.759C136.557 189.502 137.098 189.763 131.824 186.211C129.207 184.449 123.15 180.377 118.364 177.164C113.578 173.95 105.108 168.262 99.5427 164.525L89.4232 157.729L84.7286 160.919C82.1466 162.674 74.1603 168.107 66.9812 172.992C45.5137 187.601 43.1597 189.2 43.0373 189.248C42.9729 189.274 42.8176 189.129 42.6922 188.926C42.2865 188.271 42.3732 188.533 42.9381 189.67C43.5762 190.955 44.111 192.341 44.4948 193.706C44.8042 194.807 45.1653 196.813 45.1945 197.594C45.2139 198.111 45.2155 198.108 45.2513 197.48L45.288 196.833H89.8287ZM223.258 196.833H268.628L268.642 197.48L268.656 198.126L268.738 197.278C268.982 194.761 269.75 192.136 270.971 189.644C271.277 189.018 271.447 188.62 271.347 188.759C270.816 189.501 271.062 189.572 268.774 188.021C267.051 186.853 257.407 180.373 241.331 169.578C226.199 159.418 223.361 157.526 223.254 157.526C223.187 157.526 221.516 158.611 219.541 159.937C217.566 161.263 209.61 166.608 201.861 171.815C181.876 185.242 175.694 189.386 175.645 189.386C175.622 189.386 175.432 189.13 175.224 188.817C175.016 188.504 174.831 188.248 174.813 188.248C174.795 188.248 175.055 188.771 175.392 189.412C176.099 190.757 176.607 192.026 177.047 193.546C177.388 194.726 177.764 196.759 177.795 197.594C177.815 198.111 177.816 198.108 177.852 197.48L177.889 196.833H223.258ZM140.735 184.119C141.365 183.47 141.712 183.063 141.508 183.214C141.303 183.366 141.093 183.488 141.041 183.487C140.99 183.485 134.168 174.429 125.882 163.363C117.596 152.297 110.767 143.262 110.705 143.286C110.583 143.333 107.373 145.504 99.3745 150.951C95.1646 153.818 94.0938 154.591 94.1983 154.69C94.3264 154.812 98.9995 157.96 109.095 164.726C128.388 177.657 139.441 185.105 139.443 185.178C139.445 185.224 139.301 185.48 139.125 185.747L138.805 186.231L139.198 185.765C139.414 185.509 140.106 184.769 140.735 184.119ZM173.119 185.721C172.945 185.469 172.803 185.224 172.804 185.178C172.804 185.131 175.931 182.998 179.751 180.438C183.572 177.878 189.527 173.881 192.984 171.556C196.442 169.232 202.651 165.06 206.782 162.286C210.913 159.512 215.262 156.589 216.446 155.791L218.599 154.338L217.171 153.363C212.382 150.09 202.099 143.241 202.017 143.269C201.925 143.301 197.051 149.713 179.122 173.39C174.877 178.996 171.358 183.584 171.301 183.585C171.244 183.587 171.081 183.495 170.938 183.381C170.124 182.728 170.174 182.829 171.113 183.731C171.694 184.288 172.433 185.067 172.757 185.461C173.08 185.856 173.365 186.179 173.389 186.179C173.414 186.179 173.292 185.973 173.119 185.721ZM274.942 184.169C275.543 183.547 275.841 183.187 275.603 183.369L275.171 183.701L270.158 177.104C262.745 167.351 244.465 143.308 244.43 143.266C244.396 143.225 228.044 154.195 227.977 154.303C227.954 154.34 229.807 155.627 232.094 157.164C234.382 158.7 242.827 164.371 250.861 169.766C258.895 175.162 267.321 180.817 269.585 182.335C271.849 183.852 273.702 185.131 273.703 185.178C273.704 185.224 273.56 185.48 273.384 185.747L273.063 186.231L273.456 185.765C273.673 185.509 274.341 184.791 274.942 184.169ZM40.2993 185.446C40.1066 185.176 40.0936 185.106 40.2146 184.99C40.2931 184.915 43.3642 182.81 47.0393 180.312C50.7143 177.815 60.0378 171.473 67.7582 166.219C75.4785 160.965 82.4579 156.219 83.2679 155.674C84.0779 155.128 84.7405 154.658 84.7405 154.629C84.7405 154.601 84.1477 154.182 83.4232 153.698C82.6987 153.214 79.0359 150.753 75.2835 148.229C68.6625 143.776 68.4556 143.646 68.2753 143.834C68.0968 144.019 63.9981 149.505 46.84 172.525C42.4934 178.356 38.8515 183.217 38.7469 183.325C38.5599 183.52 38.5499 183.518 38.1621 183.227C37.9451 183.064 38.3736 183.566 39.1143 184.342C39.855 185.118 40.4758 185.756 40.494 185.759C40.5121 185.763 40.4245 185.622 40.2993 185.446ZM142.152 182.791C142.281 182.627 142.277 182.624 142.113 182.752C141.941 182.887 141.886 182.972 141.971 182.972C141.992 182.972 142.074 182.891 142.152 182.791ZM168.038 181.198C167.895 181.08 167.648 180.88 167.489 180.756L167.2 180.529L176.453 168.329C198.675 139.03 197.694 140.338 197.546 140.197C197.469 140.124 194.377 138.032 190.673 135.548C176.776 126.228 172.806 123.543 172.805 123.46C172.804 123.414 172.946 123.158 173.121 122.891L173.44 122.407L173.1 122.821C172.42 123.649 170.452 125.592 169.661 126.216C166.483 128.722 162.818 130.255 158.714 130.794C157.056 131.011 154.339 130.944 152.55 130.641C150.238 130.249 148.507 129.676 146.311 128.575C143.951 127.391 142.356 126.197 140.321 124.09C139.526 123.266 139.112 122.894 139.288 123.159C139.448 123.402 139.561 123.617 139.538 123.637C139.516 123.656 137.283 125.176 134.577 127.013C121.186 136.105 115.348 140.082 115.226 140.194C115.119 140.293 116.85 142.664 123.879 152.051C144.825 180.022 145.186 180.509 145.022 180.601C144.936 180.649 144.753 180.782 144.616 180.897C144.479 181.012 144.885 180.813 145.519 180.455C149.134 178.412 154.055 177.365 158.041 177.792C161.464 178.158 164.976 179.328 167.468 180.934C168.268 181.45 168.43 181.525 168.038 181.198ZM98.4964 145.308C103.441 141.945 107.528 139.155 107.578 139.108C107.657 139.035 89.913 115.206 89.7334 115.144C89.6977 115.131 87.827 117.59 85.5764 120.607C83.3258 123.625 79.2405 129.102 76.4979 132.778L71.5115 139.462L73.9081 141.077C75.2262 141.965 79.1018 144.571 82.5204 146.867C85.939 149.164 88.8526 151.127 88.995 151.23C89.1375 151.332 89.3108 151.417 89.3801 151.419C89.4495 151.421 93.5518 148.671 98.4964 145.308ZM232.193 145.213C237.105 141.911 241.124 139.146 241.124 139.068C241.124 138.931 223.254 115.331 223.15 115.332C223.121 115.332 220.791 118.383 217.97 122.113C215.15 125.842 211.11 131.178 208.994 133.97L205.145 139.047L211.376 143.239C214.803 145.545 218.866 148.281 220.405 149.319C221.943 150.357 223.215 151.209 223.232 151.211C223.248 151.214 227.281 148.514 232.193 145.213ZM73.663 127.93C77.1671 123.239 81.2995 117.703 82.846 115.628L85.6579 111.856L64.6393 111.83L43.6206 111.804L43.6066 111.158C43.593 110.53 43.5901 110.538 43.505 111.42C43.2593 113.965 42.3296 117.063 41.1231 119.356C40.8985 119.782 40.7976 120.018 40.8987 119.878C40.9998 119.739 41.1544 119.537 41.2421 119.429C41.4113 119.22 42.3783 119.856 62.4748 133.406C65.0103 135.116 67.1314 136.502 67.1884 136.487C67.2454 136.472 70.159 132.622 73.663 127.93ZM255.577 129.5C261.074 125.805 266.759 121.984 268.209 121.007C271.128 119.041 270.817 119.153 271.353 119.878C271.455 120.018 271.401 119.875 271.231 119.563C269.976 117.242 268.996 114.033 268.744 111.42C268.658 110.537 268.656 110.53 268.642 111.158L268.628 111.804H247.811H226.993L232.404 118.916C235.379 122.827 239.555 128.32 241.684 131.122C243.813 133.924 245.561 136.217 245.569 136.217C245.577 136.217 250.081 133.194 255.577 129.5ZM119.434 131.061C137.882 118.509 136.657 119.323 136.807 119.53C137.189 120.06 137.254 120.072 136.976 119.563C135.73 117.28 134.738 114.037 134.485 111.42C134.4 110.538 134.397 110.53 134.383 111.158L134.369 111.804L114.071 111.83L93.7736 111.856L95.9499 114.752C97.1469 116.345 101.233 121.803 105.03 126.881C108.827 131.959 111.95 136.113 111.971 136.113C111.992 136.113 115.35 133.84 119.434 131.061ZM207.078 127.933C210.461 123.471 214.588 118.029 216.249 115.839L219.27 111.856L198.574 111.83L177.879 111.804L177.865 111.158C177.852 110.53 177.849 110.538 177.763 111.42C177.536 113.776 176.707 116.631 175.593 118.89C175.256 119.573 175.062 120.018 175.161 119.878C175.26 119.739 175.413 119.537 175.501 119.429C175.676 119.211 174.777 118.621 193.729 131.389C197.575 133.98 200.768 136.087 200.825 136.072C200.882 136.057 203.696 132.394 207.078 127.933ZM24.7236 125.519C28.0205 124.936 31.0697 123.372 33.4085 121.065C37.1204 117.404 38.8799 112.55 38.3324 107.482C37.5937 100.644 32.7616 95.0264 26.0738 93.2303C17.8815 91.0302 9.18029 95.6013 6.27272 103.632C4.36288 108.908 5.2825 114.747 8.73923 119.294C11.417 122.816 15.6325 125.19 20.0529 125.667C21.1474 125.784 23.6737 125.705 24.7236 125.519ZM159.363 125.46C165.282 124.212 169.96 120.068 171.868 114.383C173.191 110.439 172.911 106.042 171.087 102.133C168.788 97.2031 163.761 93.5367 158.32 92.8216C150.62 91.8094 143.173 96.3352 140.531 103.632C138.621 108.908 139.541 114.747 142.998 119.294C145.676 122.816 149.893 125.192 154.311 125.666C155.642 125.809 158.203 125.705 159.363 125.46ZM292.558 125.618C297.577 124.94 301.908 122.108 304.568 117.765C307.432 113.088 307.723 107.23 305.346 102.133C303.329 97.8095 299.155 94.3912 294.416 93.1832C286.246 91.1003 277.675 95.664 274.79 103.632C273.918 106.041 273.621 108.824 273.961 111.413C274.667 116.791 278.127 121.622 282.976 124.001C286.056 125.513 289.294 126.059 292.558 125.618ZM63.5136 106.632H83.3967L81.3356 103.865C80.202 102.343 76.3187 97.154 72.7061 92.3333L66.1377 83.5683L63.3998 85.3426C61.894 86.3184 56.3983 89.8838 51.1871 93.2657C45.976 96.6476 41.6562 99.4361 41.5876 99.4624C41.519 99.4887 41.3379 99.2972 41.1852 99.037C41.0325 98.7768 40.8913 98.5639 40.8714 98.5639C40.8516 98.5639 41.1107 99.1341 41.4473 99.831C42.5179 102.048 43.3019 104.798 43.4893 106.994C43.5683 107.918 43.5691 107.921 43.5997 107.279L43.6305 106.632H63.5136ZM134.844 104.791C135.201 103.057 135.691 101.612 136.499 99.9086C136.864 99.1405 137.081 98.626 136.983 98.7651C136.884 98.9043 136.729 99.1103 136.638 99.2231C136.477 99.4219 136.12 99.1977 124.732 91.7414C116.56 86.3909 112.951 84.0825 112.857 84.146C112.783 84.1961 108.971 89.2645 104.388 95.4089L96.0534 106.581L115.211 106.607L134.369 106.633L134.383 107.279C134.397 107.906 134.4 107.898 134.485 107.015C134.534 106.514 134.695 105.513 134.844 104.791ZM197.202 106.607L216.515 106.581L214.631 104.098C205.678 92.2969 199.6 84.3351 199.525 84.3075C199.475 84.2892 194.141 87.6989 187.671 91.8846C181.2 96.0702 175.863 99.4948 175.809 99.4948C175.756 99.4948 175.589 99.2854 175.439 99.0294C175.289 98.7733 175.15 98.5639 175.13 98.5639C175.11 98.5639 175.369 99.1341 175.706 99.831C176.776 102.048 177.56 104.798 177.748 106.994C177.827 107.918 177.828 107.92 177.858 107.279L177.889 106.633L197.202 106.607ZM269.102 104.791C269.462 103.045 269.955 101.597 270.754 99.9345C271.117 99.1806 271.4 98.5639 271.383 98.5639C271.366 98.5639 271.207 98.7965 271.03 99.0808L270.709 99.5978L269.124 98.5791C268.253 98.0187 262.902 94.5685 257.233 90.9118C251.563 87.2551 246.878 84.247 246.821 84.2272C246.764 84.2073 245.266 86.1099 243.491 88.4552C241.717 90.8005 237.902 95.8382 235.014 99.65L229.763 106.581L249.196 106.607L268.628 106.633L268.642 107.279C268.655 107.906 268.659 107.898 268.744 107.015C268.792 106.514 268.953 105.513 269.102 104.791ZM231.087 96.2623C235.409 90.5588 239.705 84.8953 240.633 83.6768C241.561 82.4583 242.305 81.4152 242.286 81.3589C242.268 81.3027 237.969 78.4908 232.733 75.1104C224.652 69.8926 223.182 68.979 223.001 69.0625C222.883 69.1166 219.128 71.5314 214.655 74.4287C210.182 77.326 205.946 80.0693 205.241 80.5248C204.536 80.9803 203.953 81.3808 203.946 81.4147C203.939 81.4485 206.104 84.3318 208.758 87.8219C211.412 91.312 215.715 96.9722 218.321 100.4C220.927 103.828 223.097 106.632 223.143 106.632C223.19 106.632 226.765 101.966 231.087 96.2623ZM94.716 99.7276C97.423 96.1007 101.65 90.4362 104.108 87.1399L108.579 81.1466L107.826 80.6654C107.411 80.4007 103.11 77.5876 98.2682 74.4141C93.4259 71.2405 89.4167 68.6258 89.3589 68.6037C89.2068 68.5454 70.605 80.6524 70.6172 80.8018C70.6228 80.8707 74.703 86.3733 79.6843 93.0297C90.4948 107.476 89.624 106.322 89.7178 106.322C89.7597 106.322 92.0089 103.354 94.716 99.7276ZM173.358 95.8211C173.149 95.5073 172.997 95.2364 173.02 95.219C173.043 95.2017 176.325 93.0762 180.314 90.4957C194.902 81.057 196.327 80.1244 196.297 80.0353C196.281 79.9855 194.134 77.14 191.527 73.7121C188.919 70.2843 182.29 61.5679 176.794 54.3425L166.802 41.2054L167.049 41.0216C167.778 40.4797 167.665 40.5008 166.67 41.092C164.21 42.5536 160.991 43.6068 157.967 43.9394C155.89 44.1679 153.106 44.0095 150.954 43.5404C148.989 43.1122 146.49 42.1258 144.75 41.092C143.692 40.4633 143.634 40.4576 144.421 41.0599L144.771 41.3281L138.403 49.8524C123.231 70.1608 116.084 79.7481 116.064 79.8179C116.053 79.859 119.817 82.3597 124.43 85.375C129.043 88.3904 134.287 91.8248 136.084 93.007L139.352 95.1567L139.157 95.4379C138.788 95.9695 138.805 96.0289 139.193 95.564C139.921 94.6904 142.189 92.5095 142.988 91.9139C146.228 89.4989 150.06 88.0041 154.037 87.6036C159.684 87.035 165.652 88.8905 170.058 92.5843C171.114 93.4697 172.406 94.7886 173.156 95.7451C173.434 96.1007 173.679 96.3916 173.7 96.3916C173.721 96.3916 173.567 96.1349 173.358 95.8211ZM209.619 71.5241L218.388 65.8451L217.635 65.3619C215.855 64.2194 191.41 48.4545 182.541 42.7299C177.214 39.2913 172.797 36.423 172.726 36.3561C172.624 36.2598 172.652 36.1485 172.861 35.8235L173.125 35.4127L172.734 35.8782C172.518 36.1342 171.805 36.899 171.148 37.5778C170.491 38.2565 170.152 38.6599 170.394 38.4742C170.636 38.2885 170.878 38.1522 170.93 38.1711C171.018 38.203 174.48 42.7411 193.625 67.9225C197.527 73.0556 200.749 77.2436 200.785 77.2293C200.821 77.2149 204.796 74.6476 209.619 71.5241ZM254.875 64.8936C259.964 58.1802 266.543 49.4989 269.496 45.6017C272.449 41.7045 274.95 38.4267 275.055 38.3177C275.243 38.123 275.255 38.1264 275.744 38.5155C276.023 38.7369 275.731 38.3909 275.083 37.7311C274.446 37.0818 273.754 36.3411 273.546 36.0851C273.002 35.4176 272.912 35.3491 273.24 35.8544C273.398 36.0974 273.509 36.3139 273.486 36.3355C273.43 36.3896 266.164 41.0991 255.471 48.0116C244.251 55.2654 227.977 65.795 227.938 65.8258C227.871 65.8777 245.381 77.1403 245.497 77.1208C245.567 77.1092 249.787 71.6069 254.875 64.8936ZM126.134 57.6405C134.053 47.026 140.569 38.3193 140.613 38.2922C140.657 38.2651 140.89 38.3937 141.131 38.578C141.372 38.7623 141.048 38.3815 140.41 37.7318C139.773 37.0821 139.081 36.3411 138.873 36.0851C138.342 35.4329 138.231 35.343 138.55 35.8246C138.701 36.0512 138.824 36.2676 138.824 36.3056C138.824 36.3436 137.554 37.2024 136.001 38.2141C133.09 40.1109 110.63 54.684 100.058 61.536C96.7694 63.6671 94.08 65.4341 94.0812 65.4625C94.0825 65.491 96.6463 67.19 99.7787 69.2381C102.911 71.2863 106.836 73.8541 108.5 74.9444C110.165 76.0347 111.573 76.9297 111.63 76.9331C111.687 76.9366 118.214 68.2549 126.134 57.6405ZM75.5277 71.3064C79.8865 68.4731 83.704 65.9936 84.0111 65.7963L84.5694 65.4376L82.0428 63.7782C76.8012 60.3358 55.6966 46.5063 48.1788 41.5878C43.877 38.7733 40.3413 36.457 40.3215 36.4403C40.3018 36.4236 40.4324 36.1856 40.6117 35.9113L40.9377 35.4127L40.5964 35.8265C40.4086 36.054 39.672 36.842 38.9595 37.5776C38.2469 38.3131 37.8571 38.767 38.0932 38.5861C38.3294 38.4053 38.5624 38.259 38.6112 38.261C38.6843 38.264 64.426 72.5813 66.6186 75.5987C67.0365 76.1739 67.3509 76.5126 67.4474 76.4917C67.5328 76.4731 71.169 74.1397 75.5277 71.3064ZM231.509 57.3603C236.113 54.3833 245.871 48.0682 253.192 43.3267C270.884 31.8693 270.602 32.0508 270.699 32.0508C270.746 32.0508 270.907 32.2603 271.057 32.5163C271.207 32.7724 271.348 32.9818 271.371 32.9818C271.393 32.9818 271.117 32.3651 270.757 31.6112C269.596 29.1761 268.998 26.9901 268.698 24.0858C268.675 23.8571 268.655 23.9428 268.644 24.3186L268.628 24.9134H223.046H177.465L177.448 24.3186C177.438 23.9428 177.418 23.8571 177.394 24.0858C177.095 26.9901 176.497 29.1761 175.335 31.6112C174.976 32.3651 174.695 32.9818 174.711 32.9818C174.727 32.9818 174.884 32.7506 175.06 32.468L175.38 31.9541L181.162 35.6888C184.342 37.7428 192.701 43.1353 199.738 47.6721C206.774 52.2088 214.909 57.4595 217.815 59.3403C220.721 61.2211 223.107 62.7629 223.118 62.7665C223.129 62.7701 226.905 60.3373 231.509 57.3603ZM99.1745 55.9599C104.601 52.4403 115.078 45.6388 122.456 40.8456C129.835 36.0523 135.924 32.1099 135.988 32.0847C136.052 32.0595 136.228 32.2511 136.381 32.5104C136.533 32.7697 136.675 32.9818 136.698 32.9818C136.72 32.9818 136.444 32.3651 136.085 31.6112C134.923 29.1761 134.325 26.9901 134.026 24.0858C134.002 23.8571 133.982 23.9428 133.972 24.3186L133.955 24.9134H89.6166H45.2781L45.2616 24.3186C45.2511 23.9428 45.2312 23.8571 45.2076 24.0858C44.9089 26.9823 44.3181 29.1452 43.1449 31.6371C42.7833 32.4051 42.5676 32.9197 42.6655 32.7805C42.7635 32.6414 42.9175 32.4364 43.0078 32.3249C43.1923 32.0971 40.1647 30.1504 67.7582 48.239C74.5099 52.6651 80.8959 56.8498 81.9491 57.5385C83.0023 58.2271 85.0768 59.59 86.559 60.5672C88.0413 61.5444 89.2663 62.3474 89.2812 62.3516C89.2962 62.3558 93.7481 59.4796 99.1745 55.9599ZM25.7506 38.7259C31.7984 37.8604 36.8598 33.8626 38.9627 28.2903C40.5971 23.9596 40.431 19.4104 38.4863 15.2416C36.5189 11.0241 32.4805 7.64703 27.8743 6.3673C20.8577 4.41795 13.1972 7.48576 9.33077 13.7935C7.08441 17.4582 6.38615 22.2084 7.4757 26.4133C7.98693 28.3862 8.88048 30.3198 10.0332 31.9474C10.9054 33.179 12.6181 34.8879 13.8956 35.8014C15.5898 37.0129 18.0616 38.0999 20.0728 38.5181C21.8097 38.8793 24.0949 38.9629 25.7506 38.7259ZM157.762 38.7709C163.755 38.0206 169.038 33.8846 171.149 28.2903C172.784 23.9596 172.618 19.4104 170.673 15.2416C168.82 11.2701 165.135 8.04224 160.816 6.60795C159.234 6.08252 158.072 5.87807 156.262 5.80663C150.397 5.5751 144.645 8.69062 141.517 13.7935C139.271 17.4582 138.573 22.2084 139.662 26.4133C140.174 28.3862 141.067 30.3198 142.22 31.9474C143.092 33.179 144.805 34.8879 146.082 35.8014C147.776 37.0129 150.248 38.0999 152.259 38.5181C153.881 38.8552 156.228 38.963 157.762 38.7709ZM292.558 38.727C295.871 38.2795 298.849 36.9222 301.364 34.7134C304.548 31.9164 306.48 28.0559 306.875 23.6979C307.393 17.982 304.749 12.2658 300.041 8.92625C294.969 5.32831 288.685 4.78787 283.183 7.47655C278.612 9.71015 275.437 13.6434 274.283 18.5023C273.361 22.378 273.817 26.2197 275.626 29.8269C276.411 31.3914 277.389 32.7316 278.683 34.0162C280.045 35.3679 281.368 36.3215 282.976 37.1105C286.056 38.6217 289.294 39.168 292.558 38.727Z"
                    fill="#E9E9E9"></path>
            </svg>
        </Cards>
        <Cards
            cardnum="03"
            title="Hardware Design"
            action="learn more"
            background="background: linear-gradient(180deg,#1e2320 0%,rgba(0, 0, 0, 0.77) 83%,rgba(30, 35, 32, 0.85) 100%);color:#E9E9E9;"
        >
            <svg
                class="blck"
                width="326"
                height="225"
                viewBox="0 0 326 225"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M161.937 4.40481C162.696 4.07765 163.556 4.07766 164.314 4.40481L311.389 67.8491C313.805 68.8911 313.805 72.3163 311.389 73.3584L164.314 136.803C163.556 137.13 162.696 137.13 161.937 136.803L14.8621 73.3584C12.4465 72.3163 12.4465 68.8911 14.8621 67.8491L161.937 4.40481Z"
                    stroke="#E3E3E3"
                    stroke-width="6"></path>
                <path
                    d="M161.937 49.7329C162.696 49.4058 163.556 49.4058 164.314 49.7329L311.389 113.177C313.805 114.219 313.805 117.644 311.389 118.686L164.314 182.131C163.556 182.458 162.696 182.458 161.937 182.131L14.8621 118.686C12.4465 117.644 12.4465 114.219 14.8621 113.177L161.937 49.7329Z"
                    stroke="#E3E3E3"
                    stroke-width="6"></path>
                <path
                    d="M161.937 88.6978C162.696 88.3706 163.556 88.3706 164.314 88.6978L311.389 152.142C313.805 153.184 313.805 156.609 311.389 157.651L164.314 221.096C163.556 221.423 162.696 221.423 161.937 221.096L14.8621 157.651C12.4465 156.609 12.4465 153.184 14.8621 152.142L161.937 88.6978Z"
                    stroke="#E3E3E3"
                    stroke-width="6"></path>
            </svg>
        </Cards>

        <Cards
            cardnum="04"
            title="Software Walkthrough"
            action="learn more"
            background="background: #B8B8B8;"
        >
            <svg
                class="sw"
                width="800px"
                height="800px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M16 11L17.6965 12.5268C19.239 13.9151 20.0103 14.6093 20.0103 15.5C20.0103 16.3907 19.239 17.0849 17.6965 18.4732L16 20"
                    stroke="black"
                    stroke-width="1"
                    stroke-linecap="round"></path>
                <path
                    d="M13.9868 5L11.9934 12.5L10 20"
                    stroke="black"
                    stroke-width="1"
                    stroke-linecap="round"></path>
                <path
                    d="M8.00005 4.82959L6.30358 6.35641C4.76102 7.74471 3.98975 8.43886 3.98975 9.32959C3.98975 10.2203 4.76102 10.9145 6.30358 12.3028L8.00005 13.8296"
                    stroke="black"
                    stroke-width="1"
                    stroke-linecap="round"></path>
            </svg>
        </Cards>

        <Cards
            cardnum="05"
            title="Rice Crop Calendar"
            background="background: linear-gradient(180deg, #46BC75 0%, rgba(209, 207, 149, 0.91) 100%);"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="171"
                height="238"
                viewBox="0 0 171 238"
                fill="none"
            >
                <path
                    d="M129.768 200.225H100.17C98.1356 200.225 96.4707 198.558 96.4707 196.522C96.4707 174.042 114.71 155.784 137.168 155.784H166.765C168.8 155.784 170.465 157.451 170.465 159.488C170.465 181.967 152.225 200.225 129.768 200.225ZM104.092 192.818H129.768C146.898 192.818 161.031 179.819 162.844 163.191H137.168C120.075 163.191 105.905 176.19 104.092 192.818Z"
                    fill="black"></path>
                <path
                    d="M70.5778 200.225H40.9801C18.5228 200.225 0.283203 181.967 0.283203 159.488C0.283203 157.451 1.94808 155.784 3.98292 155.784H33.5807C56.0379 155.784 74.2776 174.042 74.2776 196.522C74.2776 198.558 72.6127 200.225 70.5778 200.225ZM7.90462 163.191C9.75448 179.819 23.8874 192.818 40.9801 192.818H66.6561C64.8063 176.19 50.6734 163.191 33.5807 163.191H7.90462Z"
                    fill="black"></path>
                <path
                    d="M129.768 148.378H100.17C98.1356 148.378 96.4707 146.712 96.4707 144.675C96.4707 122.195 114.71 103.938 137.168 103.938H166.765C168.8 103.938 170.465 105.604 170.465 107.641C170.465 130.121 152.225 148.378 129.768 148.378ZM104.092 140.971H129.768C146.898 140.971 161.031 127.973 162.844 111.344H137.168C120.075 111.344 105.905 124.343 104.092 140.971Z"
                    fill="black"></path>
                <path
                    d="M70.5778 148.375H40.9801C18.5228 148.375 0.283203 130.118 0.283203 107.638C0.283203 105.601 1.94808 103.935 3.98292 103.935H33.5807C56.0379 103.935 74.2776 122.192 74.2776 144.672C74.2776 146.709 72.6127 148.375 70.5778 148.375ZM7.90462 111.341C9.75448 127.97 23.8874 140.969 40.9801 140.969H66.6561C64.8063 124.34 50.6734 111.341 33.5807 111.341H7.90462Z"
                    fill="black"></path>
                <path
                    d="M129.768 96.5287H100.17C98.1356 96.5287 96.4707 94.8621 96.4707 92.8253C96.4707 70.3456 114.71 52.0879 137.168 52.0879H166.765C168.8 52.0879 170.465 53.7544 170.465 55.7913C170.465 78.2709 152.225 96.5287 129.768 96.5287ZM104.092 89.1219H129.768C146.898 89.1219 161.031 76.1229 162.844 59.4947H137.168C120.075 59.4947 105.905 72.4936 104.092 89.1219Z"
                    fill="black"></path>
                <path
                    d="M70.5778 96.5287H40.9801C18.5228 96.5287 0.283203 78.2709 0.283203 55.7913C0.283203 53.7544 1.94808 52.0879 3.98292 52.0879H33.5807C56.0379 52.0879 74.2776 70.3456 74.2776 92.8253C74.2776 94.8621 72.6127 96.5287 70.5778 96.5287ZM7.90462 59.4947C9.75448 76.1229 23.8874 89.1219 40.9801 89.1219H66.6561C64.8063 72.4936 50.6734 59.4947 33.5807 59.4947H7.90462Z"
                    fill="black"></path>
                <path
                    d="M129.768 44.682H100.17C98.1356 44.682 96.4707 43.0155 96.4707 40.9786C96.4707 18.499 114.71 0.241211 137.168 0.241211H166.765C168.8 0.241211 170.465 1.90774 170.465 3.94461C170.465 26.4242 152.225 44.682 129.768 44.682ZM104.092 37.2752H129.768C146.898 37.2752 161.031 24.2763 162.844 7.64801H137.168C120.075 7.64801 105.905 20.6469 104.092 37.2752Z"
                    fill="black"></path>
                <path
                    d="M70.5778 44.682H40.9801C18.5228 44.682 0.283203 26.4242 0.283203 3.94461C0.283203 1.90774 1.94808 0.241211 3.98292 0.241211H33.5807C56.0379 0.241211 74.2776 18.499 74.2776 40.9786C74.2776 43.0155 72.6127 44.682 70.5778 44.682ZM7.90462 7.64801C9.75448 24.2763 23.8874 37.2752 40.9801 37.2752H66.6561C64.8063 20.6469 50.6734 7.64801 33.5807 7.64801H7.90462Z"
                    fill="black"></path>
                <path
                    d="M85.3696 237.259C83.3348 237.259 81.6699 235.592 81.6699 233.556V40.9788C81.6699 38.9419 83.3348 37.2754 85.3696 37.2754C87.4045 37.2754 89.0694 38.9419 89.0694 40.9788V233.556C89.0694 235.592 87.4045 237.259 85.3696 237.259Z"
                    fill="black"></path>
            </svg>
        </Cards>

        <Cards
            cardnum="06"
            title="Corn Crop Calendar"
            background="background: linear-gradient(180deg, #C7C24B 0%, rgba(209, 207, 149, 0.91) 100%);"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="171"
                height="238"
                viewBox="0 0 171 238"
                fill="none"
            >
                <path
                    d="M129.768 200.225H100.17C98.1356 200.225 96.4707 198.558 96.4707 196.522C96.4707 174.042 114.71 155.784 137.168 155.784H166.765C168.8 155.784 170.465 157.451 170.465 159.488C170.465 181.967 152.225 200.225 129.768 200.225ZM104.092 192.818H129.768C146.898 192.818 161.031 179.819 162.844 163.191H137.168C120.075 163.191 105.905 176.19 104.092 192.818Z"
                    fill="black"></path>
                <path
                    d="M70.5778 200.225H40.9801C18.5228 200.225 0.283203 181.967 0.283203 159.488C0.283203 157.451 1.94808 155.784 3.98292 155.784H33.5807C56.0379 155.784 74.2776 174.042 74.2776 196.522C74.2776 198.558 72.6127 200.225 70.5778 200.225ZM7.90462 163.191C9.75448 179.819 23.8874 192.818 40.9801 192.818H66.6561C64.8063 176.19 50.6734 163.191 33.5807 163.191H7.90462Z"
                    fill="black"></path>
                <path
                    d="M129.768 148.378H100.17C98.1356 148.378 96.4707 146.712 96.4707 144.675C96.4707 122.195 114.71 103.938 137.168 103.938H166.765C168.8 103.938 170.465 105.604 170.465 107.641C170.465 130.121 152.225 148.378 129.768 148.378ZM104.092 140.971H129.768C146.898 140.971 161.031 127.973 162.844 111.344H137.168C120.075 111.344 105.905 124.343 104.092 140.971Z"
                    fill="black"></path>
                <path
                    d="M70.5778 148.375H40.9801C18.5228 148.375 0.283203 130.118 0.283203 107.638C0.283203 105.601 1.94808 103.935 3.98292 103.935H33.5807C56.0379 103.935 74.2776 122.192 74.2776 144.672C74.2776 146.709 72.6127 148.375 70.5778 148.375ZM7.90462 111.341C9.75448 127.97 23.8874 140.969 40.9801 140.969H66.6561C64.8063 124.34 50.6734 111.341 33.5807 111.341H7.90462Z"
                    fill="black"></path>
                <path
                    d="M129.768 96.5287H100.17C98.1356 96.5287 96.4707 94.8621 96.4707 92.8253C96.4707 70.3456 114.71 52.0879 137.168 52.0879H166.765C168.8 52.0879 170.465 53.7544 170.465 55.7913C170.465 78.2709 152.225 96.5287 129.768 96.5287ZM104.092 89.1219H129.768C146.898 89.1219 161.031 76.1229 162.844 59.4947H137.168C120.075 59.4947 105.905 72.4936 104.092 89.1219Z"
                    fill="black"></path>
                <path
                    d="M70.5778 96.5287H40.9801C18.5228 96.5287 0.283203 78.2709 0.283203 55.7913C0.283203 53.7544 1.94808 52.0879 3.98292 52.0879H33.5807C56.0379 52.0879 74.2776 70.3456 74.2776 92.8253C74.2776 94.8621 72.6127 96.5287 70.5778 96.5287ZM7.90462 59.4947C9.75448 76.1229 23.8874 89.1219 40.9801 89.1219H66.6561C64.8063 72.4936 50.6734 59.4947 33.5807 59.4947H7.90462Z"
                    fill="black"></path>
                <path
                    d="M129.768 44.682H100.17C98.1356 44.682 96.4707 43.0155 96.4707 40.9786C96.4707 18.499 114.71 0.241211 137.168 0.241211H166.765C168.8 0.241211 170.465 1.90774 170.465 3.94461C170.465 26.4242 152.225 44.682 129.768 44.682ZM104.092 37.2752H129.768C146.898 37.2752 161.031 24.2763 162.844 7.64801H137.168C120.075 7.64801 105.905 20.6469 104.092 37.2752Z"
                    fill="black"></path>
                <path
                    d="M70.5778 44.682H40.9801C18.5228 44.682 0.283203 26.4242 0.283203 3.94461C0.283203 1.90774 1.94808 0.241211 3.98292 0.241211H33.5807C56.0379 0.241211 74.2776 18.499 74.2776 40.9786C74.2776 43.0155 72.6127 44.682 70.5778 44.682ZM7.90462 7.64801C9.75448 24.2763 23.8874 37.2752 40.9801 37.2752H66.6561C64.8063 20.6469 50.6734 7.64801 33.5807 7.64801H7.90462Z"
                    fill="black"></path>
                <path
                    d="M85.3696 237.259C83.3348 237.259 81.6699 235.592 81.6699 233.556V40.9788C81.6699 38.9419 83.3348 37.2754 85.3696 37.2754C87.4045 37.2754 89.0694 38.9419 89.0694 40.9788V233.556C89.0694 235.592 87.4045 237.259 85.3696 237.259Z"
                    fill="black"></path>
            </svg>
        </Cards>

        <style lang="scss">
            svg {
                object-fit: cover;
                width: 100%;
                max-height: 220px;
            }
            .blck:hover {
                path {
                    stroke: #7cf095;
                }
                .ml {
                    fill: #7cf095;
                }
            }
            .container {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.5rem 0;
                background-color: #eee;
            }
            .section-title {
                padding: 1rem 3rem;
                display: flex;
                justify-content: flex-start;
            }
            h1 {
                font-size: 3rem;
                font-size: clamp(2rem, 2vw + 1rem, 3.5rem);
                font-family: "Share Tech Mono";
            }
            .cards {
                padding: 1.5rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap: 3rem;
            }
            @media screen and (max-width: 800px) {
                .container .cards {
                    grid-template-columns: repeat(1, 1fr);
                }
                .cards {
                    padding: .7rem;
                }
            }
        </style>
    </div>
</div>
