---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout title="About Page">
    <div class="about"><h1>ABOUT</h1></div>

    <style>
        .about {
            padding: 2%;
            min-height: 100vh;
        }
    </style>
</ContentLayout>
