---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout title="About Page" >
    
    <div class="about" slot="contentstyle"><div class="wrapper"><h1>ABOUT</h1></div></div>
    
    <style lang="scss">
        .about {
            padding: 19px;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            .wrapper {
                max-width: 90rem;
                flex: 1;
            }
        }
    </style>
</ContentLayout>
