<div class="layout-main">
    <h2>Crop Calendar Algorithm <br />Performance Comparison</h2>
    <div class="algorithms-content">
        <div class="machine">
            <svg
                width="531"
                height="362"
                viewBox="0 0 531 362"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M0.75 12.5C0.75 5.87257 6.12258 0.5 12.75 0.5H517.75C524.377 0.5 529.75 5.87258 529.75 12.5V349.5C529.75 356.127 524.377 361.5 517.75 361.5H12.75C6.1226 361.5 0.75 356.127 0.75 349.5V12.5Z"
                    fill="#ECECEC"></path>
                <path
                    d="M159.75 113.5C159.75 123.441 151.691 131.5 141.75 131.5C131.809 131.5 123.75 123.441 123.75 113.5C123.75 103.559 131.809 95.5 141.75 95.5C151.691 95.5 159.75 103.559 159.75 113.5Z"
                    fill="#333733"></path>
                <path
                    d="M353.75 220.5C353.75 230.441 345.691 238.5 335.75 238.5C325.809 238.5 317.75 230.441 317.75 220.5C317.75 210.559 325.809 202.5 335.75 202.5C345.691 202.5 353.75 210.559 353.75 220.5Z"
                    fill="#333733"></path>
                <path
                    d="M409.75 131.5C409.75 135.366 406.616 138.5 402.75 138.5C398.884 138.5 395.75 135.366 395.75 131.5C395.75 127.634 398.884 124.5 402.75 124.5C406.616 124.5 409.75 127.634 409.75 131.5Z"
                    fill="#333733"></path>
                <path
                    d="M175.75 272.5C175.75 285.203 165.453 295.5 152.75 295.5C140.047 295.5 129.75 285.203 129.75 272.5C129.75 259.797 140.047 249.5 152.75 249.5C165.453 249.5 175.75 259.797 175.75 272.5Z"
                    fill="#333733"></path>
                <path
                    d="M276.75 66.5C276.75 72.5751 271.825 77.5 265.75 77.5C259.675 77.5 254.75 72.5751 254.75 66.5C254.75 60.4249 259.675 55.5 265.75 55.5C271.825 55.5 276.75 60.4249 276.75 66.5Z"
                    fill="#333733"></path>
                <path
                    d="M141.573 113.032L265.573 66.0325M142.249 113.465L153.249 272.466M141.991 113.062L335.991 220.062M335.351 220.199L402.351 131.199M0.75 12.5C0.75 5.87257 6.12258 0.5 12.75 0.5H517.75C524.377 0.5 529.75 5.87258 529.75 12.5V349.5C529.75 356.127 524.377 361.5 517.75 361.5H12.75C6.1226 361.5 0.75 356.127 0.75 349.5V12.5ZM159.75 113.5C159.75 123.441 151.691 131.5 141.75 131.5C131.809 131.5 123.75 123.441 123.75 113.5C123.75 103.559 131.809 95.5 141.75 95.5C151.691 95.5 159.75 103.559 159.75 113.5ZM353.75 220.5C353.75 230.441 345.691 238.5 335.75 238.5C325.809 238.5 317.75 230.441 317.75 220.5C317.75 210.559 325.809 202.5 335.75 202.5C345.691 202.5 353.75 210.559 353.75 220.5ZM409.75 131.5C409.75 135.366 406.616 138.5 402.75 138.5C398.884 138.5 395.75 135.366 395.75 131.5C395.75 127.634 398.884 124.5 402.75 124.5C406.616 124.5 409.75 127.634 409.75 131.5ZM175.75 272.5C175.75 285.203 165.453 295.5 152.75 295.5C140.047 295.5 129.75 285.203 129.75 272.5C129.75 259.797 140.047 249.5 152.75 249.5C165.453 249.5 175.75 259.797 175.75 272.5ZM276.75 66.5C276.75 72.5751 271.825 77.5 265.75 77.5C259.675 77.5 254.75 72.5751 254.75 66.5C254.75 60.4249 259.675 55.5 265.75 55.5C271.825 55.5 276.75 60.4249 276.75 66.5Z"
                    stroke="#333733"></path>
            </svg>

            <div class="content">
                <h3>Machine Learning Performance</h3>
                <p>
                    The machine learning algorithm is evaluated through
                    employing evaluation metrics such as accuracy test of
                    predicted values from actual values, computational
                    efficiency or runtime, robustness of the algorithm or its'
                    sensitivity to outliers, and F1 score
                </p>
            </div>
            <div class="button-wrapper"><button>LEARN MORE ->></button></div>
        </div>
        <div class="hybrid">
            <svg
                width="531"
                height="363"
                viewBox="0 0 531 363"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M1.25 13C1.25 6.37257 6.62258 1 13.25 1H518.25C524.877 1 530.25 6.37258 530.25 13V350C530.25 356.627 524.877 362 518.25 362H13.25C6.6226 362 1.25 356.627 1.25 350V13Z"
                    fill="#333733"></path>
                <path
                    d="M160.25 114C160.25 123.941 152.191 132 142.25 132C132.309 132 124.25 123.941 124.25 114C124.25 104.059 132.309 96 142.25 96C152.191 96 160.25 104.059 160.25 114Z"
                    fill="#51E59E"></path>
                <path
                    d="M354.25 221C354.25 230.941 346.191 239 336.25 239C326.309 239 318.25 230.941 318.25 221C318.25 211.059 326.309 203 336.25 203C346.191 203 354.25 211.059 354.25 221Z"
                    fill="#51E59E"></path>
                <path
                    d="M410.25 132C410.25 135.866 407.116 139 403.25 139C399.384 139 396.25 135.866 396.25 132C396.25 128.134 399.384 125 403.25 125C407.116 125 410.25 128.134 410.25 132Z"
                    fill="#51E59E"></path>
                <path
                    d="M176.25 273C176.25 285.703 165.953 296 153.25 296C140.547 296 130.25 285.703 130.25 273C130.25 260.297 140.547 250 153.25 250C165.953 250 176.25 260.297 176.25 273Z"
                    fill="#51E59E"></path>
                <path
                    d="M277.25 67C277.25 73.0751 272.325 78 266.25 78C260.175 78 255.25 73.0751 255.25 67C255.25 60.9249 260.175 56 266.25 56C272.325 56 277.25 60.9249 277.25 67Z"
                    fill="#51E59E"></path>
                <path
                    d="M142.073 113.532L266.073 66.5325M142.749 113.965L153.749 272.966M142.491 113.562L336.491 220.562M335.851 220.699L402.851 131.699M13.25 362H518.25C524.877 362 530.25 356.627 530.25 350V13C530.25 6.37258 524.877 1 518.25 1H13.25C6.62258 1 1.25 6.37257 1.25 13V350C1.25 356.627 6.6226 362 13.25 362ZM160.25 114C160.25 123.941 152.191 132 142.25 132C132.309 132 124.25 123.941 124.25 114C124.25 104.059 132.309 96 142.25 96C152.191 96 160.25 104.059 160.25 114ZM354.25 221C354.25 230.941 346.191 239 336.25 239C326.309 239 318.25 230.941 318.25 221C318.25 211.059 326.309 203 336.25 203C346.191 203 354.25 211.059 354.25 221ZM410.25 132C410.25 135.866 407.116 139 403.25 139C399.384 139 396.25 135.866 396.25 132C396.25 128.134 399.384 125 403.25 125C407.116 125 410.25 128.134 410.25 132ZM176.25 273C176.25 285.703 165.953 296 153.25 296C140.547 296 130.25 285.703 130.25 273C130.25 260.297 140.547 250 153.25 250C165.953 250 176.25 260.297 176.25 273ZM277.25 67C277.25 73.0751 272.325 78 266.25 78C260.175 78 255.25 73.0751 255.25 67C255.25 60.9249 260.175 56 266.25 56C272.325 56 277.25 60.9249 277.25 67Z"
                    stroke="#51E59E"></path>
            </svg>

            <div class="content">
                <h3>Hybrid Algorithm Performance</h3>
                <p>
                    The hybrid algorithm is evaluated using a comparison of
                    actual historical data that attained highest yields. This
                    months would serve as a benchmark for classifying the
                    optimal crop calendar schedules along with computational
                    efficiency tests these assess the accuracy and effectiveness
                    of the algorithm's recommendations.
                </p>
            </div>
            <div class="button-wrapper"><button>LEARN MORE ->></button></div>
        </div>
    </div>
</div>

<style lang="scss">
    h2 {
        font-size: clamp(0.875rem, 2vw + 0.875rem, 2.5rem);
        font-weight: 600;
        margin-bottom: 3%;
    }
    .layout-main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0;

        h2 {
            text-align: center;
        }
        .algorithms-content {
            max-width: 1280px;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            padding: 0 2rem;
        }
    }
    .machine,
    .hybrid {
        border-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 400px;
        gap: 1rem;
        p {
            text-align: justify;
        }
        .content {
            display: grid;
            row-gap: 0.5rem;
        }
        svg {
            width: max(200px, 100%);
            height: auto;
        }
    }
    .machine {
        background: #333733;
        color: #e8e8e8;
    }
    .hybrid {
        background: #51e59e;
        color: #000502;
    }
    @media (max-width: 768px) {
        .layout-main .algorithms-content {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: clamp(200px, 100%, 400px);
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    button {
        border: none;
        border-radius: 0.375rem;
        display: flex;
        padding: 0.5rem 1.125rem;
    }

    .hybrid button {
        background: #333733;
        color: #51e59e;
    }
    .machine button {
        background: #ececec;
    }
</style>
