---
const { title, action, image } = Astro.props
---

<div class="card-container">
    <div class="card-number"></div>
    <img src="" alt="" />
    <div class="card-title">
        <div class="title"></div>
        <div class="action"></div>
    </div>
</div>
