<footer>
    <div class="links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="">DOCUMENTATION</a>
    </div>
    <br />
    <hr style="color: rgb(100, 100, 100);" />
    <br />
    <div class="center">
        <span style="color: rgb(26, 177, 76);"
            >MMSU Auto Crop Calendar - Undergraduate Thesis Project</span
        >
        <span> <br />© 2024 All rights reserved.</span>
    </div>
</footer>

<style lang="scss">
    .links {
        display: flex;
        gap: 1rem;
        flex: 1;
        justify-content: center;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        span {
            text-align: center;
        }
    }
    footer {
        height: 10.0625rem;
        background: #1e2320;
        padding: 1.4375rem 2.125rem;
        color: white;
    }
</style>
