<header>
    <nav class="navbar">
        <a href="/">
            <div class="logo">
                <svg
                    width="101"
                    height="36"
                    viewBox="0 0 101 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_1080_4)">
                        <path
                            d="M94.7785 9.56717L94.8596 24.0034M94.6592 2.5296C94.6592 2.5296 92.9031 3.82005 92.9031 6.11421C92.9031 8.40833 94.6592 9.78835 94.6592 9.78835C94.6592 9.78835 96.4153 8.44412 96.4153 6.11421C96.4153 3.78421 94.6592 2.5296 94.6592 2.5296ZM100.33 7.4615C100.33 7.4615 98.4346 6.67683 96.6817 7.95452C94.9288 9.23221 94.7841 11.504 94.7841 11.504C94.7841 11.504 96.7199 12.2587 98.5006 10.9611C100.281 9.66348 100.33 7.4615 100.33 7.4615ZM100.33 11.9728C100.33 11.9728 98.4346 11.1882 96.6817 12.4658C94.9288 13.7435 94.7841 16.0154 94.7841 16.0154C94.7841 16.0154 96.7199 16.77 98.5006 15.4725C100.281 14.1748 100.33 11.9728 100.33 11.9728ZM100.33 16.1231C100.33 16.1231 98.4346 15.3385 96.6817 16.6161C94.9288 17.8938 94.7841 20.1657 94.7841 20.1657C94.7841 20.1657 96.7199 20.9204 98.5006 19.6228C100.281 18.3252 100.33 16.1231 100.33 16.1231ZM89.1953 7.4615C89.1953 7.4615 91.0906 6.67683 92.8435 7.95452C94.5964 9.23221 94.7411 11.504 94.7411 11.504C94.7411 11.504 92.8053 12.2587 91.0246 10.9611C89.2446 9.66348 89.1953 7.4615 89.1953 7.4615ZM89.1953 11.9728C89.1953 11.9728 91.0906 11.1882 92.8435 12.4658C94.5964 13.7435 94.7411 16.0154 94.7411 16.0154C94.7411 16.0154 92.8053 16.77 91.0246 15.4725C89.2446 14.1748 89.1953 11.9728 89.1953 11.9728ZM89.1953 16.1231C89.1953 16.1231 91.0906 15.3385 92.8435 16.6161C94.5964 17.8938 94.7411 20.1657 94.7411 20.1657C94.7411 20.1657 92.8053 20.9204 91.0246 19.6228C89.2446 18.3252 89.1953 16.1231 89.1953 16.1231Z"
                            stroke="#5BA940"
                            stroke-width="2"></path>
                        <path
                            d="M0.458244 23.7503V3.59794H3.32588L10.2192 20.5801H10.3019L17.1953 3.59794H20.0629V23.7503H17.7467V8.17866H17.664L11.3083 23.7503H9.21273L2.85714 8.17866H2.77442V23.7503H0.458244ZM25.1938 23.7503V3.59794H28.0615L34.9548 20.5801H35.0375L41.9308 3.59794H44.7985V23.7503H42.4824V8.17866H42.3996L36.0439 23.7503H33.9484L27.5926 8.17866H27.5099V23.7503H25.1938ZM56.4367 24.0855C52.1352 24.0855 49.2261 21.9487 48.9781 18.4992L48.9641 18.3037H51.4458L51.4735 18.4992C51.7628 20.5242 53.6932 21.7672 56.5745 21.7672C59.4422 21.7672 61.2481 20.4544 61.2481 18.3735V18.3596C61.2481 16.5859 60.1039 15.5944 57.374 14.9799L55.1683 14.4911C51.2803 13.6253 49.4607 11.8516 49.4607 8.90487V8.89087C49.4743 5.58104 52.3694 3.26276 56.4641 3.26276C60.3522 3.26276 63.1921 5.53913 63.4127 8.83504L63.4264 9.04453H60.9448L60.9174 8.84904C60.6141 6.79606 58.9183 5.58104 56.3953 5.58104C53.7346 5.59504 51.9974 6.87989 51.9974 8.82112V8.83504C51.9974 10.4829 53.1966 11.5164 55.7887 12.089L57.9944 12.5778C62.0753 13.4856 63.7848 15.1614 63.7848 18.2338V18.2478C63.7848 21.8231 60.9862 24.0855 56.4367 24.0855ZM75.8781 24.0855C70.9423 24.0855 67.9645 21.0689 67.9645 16.6837V3.59794H70.4461V16.5161C70.4461 19.6164 72.4315 21.7672 75.8781 21.7672C79.3245 21.7672 81.2823 19.6164 81.2823 16.5161V3.59794H83.7637V16.6837C83.7637 21.0689 80.813 24.0855 75.8781 24.0855Z"
                            fill="#F9F9F9"></path>
                        <path
                            d="M0 32.2459L1.78217 27.4573H2.22445L4.00332 32.2459H3.53156L3.00413 30.779H1.00248L0.475032 32.2459H0ZM1.9984 28.0115L1.14334 30.3877H2.86326L2.00821 28.0115H1.9984ZM7.19423 32.3057C6.44071 32.3057 5.99188 31.8147 5.99188 31.0047V28.7945H6.4276V30.9317C6.4276 31.5723 6.74209 31.914 7.3187 31.914C7.91495 31.914 8.30805 31.4828 8.30805 30.8388V28.7945H8.74373V32.2459H8.30805V31.6586H8.29819C8.12457 32.0301 7.7446 32.3057 7.19423 32.3057ZM12.1836 32.309C11.6234 32.309 11.3482 32.0401 11.3482 31.4363V29.1629H10.847V28.7945H11.3482V27.8622H11.7937V28.7945H12.4686V29.1629H11.7937V31.4295C11.7937 31.8113 11.9542 31.9407 12.272 31.9407C12.3507 31.9407 12.4195 31.9307 12.4686 31.9239V32.2825C12.3998 32.2958 12.2884 32.309 12.1836 32.309ZM16.0166 32.309C15.0861 32.3057 14.4637 31.6153 14.4637 30.5202V30.5137C14.4637 29.4186 15.0895 28.7316 16.0166 28.7316C16.9404 28.7316 17.5694 29.4153 17.5694 30.5137V30.5202C17.5694 31.6187 16.9437 32.309 16.0166 32.309ZM16.0198 31.9174C16.6849 31.9174 17.1272 31.393 17.1272 30.5202V30.5137C17.1272 29.6409 16.6816 29.1233 16.0166 29.1233C15.3515 29.1233 14.9093 29.6441 14.9093 30.5137V30.5202C14.9093 31.3964 15.3483 31.914 16.0198 31.9174ZM24.8914 32.3224C23.5941 32.3224 22.7554 31.35 22.7554 29.8499V29.8465C22.7554 28.3434 23.5875 27.3808 24.8914 27.3808C25.8709 27.3808 26.5948 27.9916 26.7718 28.8876L26.7785 28.9208H26.3296L26.3099 28.861C26.1297 28.214 25.6285 27.8025 24.8914 27.8025C23.8692 27.8025 23.214 28.6022 23.214 29.8465V29.8499C23.214 31.0911 23.8758 31.9007 24.8914 31.9007C25.6252 31.9007 26.1231 31.4926 26.3197 30.8125L26.3296 30.7824H26.7785L26.7718 30.8156C26.5948 31.7184 25.8742 32.3224 24.8914 32.3224ZM29.0488 32.2459V28.7945H29.4812V29.4153H29.4941C29.6154 28.9938 29.9168 28.7316 30.3297 28.7316C30.4443 28.7316 30.5458 28.7548 30.5983 28.7713V29.1994C30.5424 29.1762 30.4214 29.153 30.2738 29.153C29.789 29.153 29.4812 29.5248 29.4812 30.1088V32.2459H29.0488ZM33.9301 32.309C32.9994 32.3057 32.3772 31.6153 32.3772 30.5202V30.5137C32.3772 29.4186 33.0028 28.7316 33.9301 28.7316C34.8537 28.7316 35.4827 29.4153 35.4827 30.5137V30.5202C35.4827 31.6187 34.8571 32.309 33.9301 32.309ZM33.9331 31.9174C34.5983 31.9174 35.0405 31.393 35.0405 30.5202V30.5137C35.0405 29.6409 34.5952 29.1233 33.9301 29.1233C33.2651 29.1233 32.8228 29.6441 32.8228 30.5137V30.5202C32.8228 31.3964 33.2616 31.914 33.9331 31.9174ZM37.7368 33.4076V28.7945H38.1693V29.5249H38.1824C38.3722 29.0567 38.7915 28.7316 39.3386 28.7316C40.2036 28.7316 40.7834 29.4418 40.7834 30.5202V30.5236C40.7834 31.6053 40.2002 32.309 39.3453 32.309C38.8013 32.309 38.3691 31.9871 38.1824 31.5258H38.1693V33.4076H37.7368ZM39.2635 31.9174C39.9184 31.9174 40.3411 31.3698 40.3411 30.5236V30.5202C40.3411 29.6675 39.9184 29.1233 39.2635 29.1233C38.6213 29.1233 38.1693 29.684 38.1693 30.5202V30.5236C38.1693 31.3565 38.6247 31.9174 39.2635 31.9174ZM43.0439 33.4076V28.7945H43.4763V29.5249H43.4895C43.6796 29.0567 44.0989 28.7316 44.646 28.7316C45.5107 28.7316 46.0908 29.4418 46.0908 30.5202V30.5236C46.0908 31.6053 45.5076 32.309 44.6524 32.309C44.1087 32.309 43.6763 31.9871 43.4895 31.5258H43.4763V33.4076H43.0439ZM44.5705 31.9174C45.2258 31.9174 45.6485 31.3698 45.6485 30.5236V30.5202C45.6485 29.6675 45.2258 29.1233 44.5705 29.1233C43.9284 29.1233 43.4763 29.684 43.4763 30.5202V30.5236C43.4763 31.3565 43.9317 31.9174 44.5705 31.9174ZM48.6034 28.1706C48.443 28.1706 48.3152 28.0412 48.3152 27.8787C48.3152 27.7161 48.443 27.5901 48.6034 27.5901C48.7605 27.5901 48.8883 27.7161 48.8883 27.8787C48.8883 28.0412 48.7605 28.1706 48.6034 28.1706ZM48.384 32.2459V28.7945H48.8195V32.2459H48.384ZM51.2799 32.2459V28.7945H51.7124V29.3821H51.7255C51.8957 29.0103 52.279 28.735 52.8294 28.735C53.5828 28.735 54.0285 29.226 54.0285 30.0357V32.2459H53.596V30.1088C53.596 29.4681 53.2815 29.1264 52.7017 29.1264C52.1088 29.1264 51.7124 29.5579 51.7124 30.2016V32.2459H51.2799ZM57.8517 33.4705C57.0424 33.4705 56.5445 33.0788 56.4234 32.5911L56.4167 32.5645H56.8526L56.8657 32.5942C56.9803 32.8732 57.3276 33.0788 57.8483 33.0788C58.5003 33.0788 58.8804 32.7073 58.8804 32.1199V31.5124H58.8704C58.6903 31.9639 58.2578 32.2858 57.7108 32.2858C56.8526 32.2858 56.266 31.5821 56.266 30.5069V30.5038C56.266 29.4351 56.859 28.7316 57.7172 28.7316C58.2613 28.7316 58.6839 29.0666 58.8704 29.5249H58.8804V28.7945H59.316V32.1564C59.316 32.9528 58.7527 33.4705 57.8517 33.4705ZM57.7961 31.8942C58.4382 31.8942 58.8804 31.3366 58.8804 30.5069V30.5038C58.8804 29.6775 58.4348 29.1233 57.7961 29.1233C57.1374 29.1233 56.7117 29.6706 56.7117 30.5038V30.5069C56.7117 31.35 57.1374 31.8942 57.7961 31.8942ZM66.8051 32.3224C65.5079 32.3224 64.6692 31.35 64.6692 29.8499V29.8465C64.6692 28.3434 65.5012 27.3808 66.8051 27.3808C67.7846 27.3808 68.5086 27.9916 68.6856 28.8876L68.692 28.9208H68.2433L68.2235 28.861C68.0435 28.214 67.5422 27.8025 66.8051 27.8025C65.783 27.8025 65.1277 28.6022 65.1277 29.8465V29.8499C65.1277 31.0911 65.7894 31.9007 66.8051 31.9007C67.5388 31.9007 68.037 31.4926 68.2335 30.8125L68.2433 30.7824H68.692L68.6856 30.8156C68.5086 31.7184 67.7879 32.3224 66.8051 32.3224ZM71.9715 32.309C71.2998 32.309 70.8412 31.9007 70.8412 31.2902V31.2836C70.8412 30.696 71.2801 30.3409 72.0632 30.288L73.1246 30.2217V29.923C73.1246 29.4251 72.8133 29.1233 72.2826 29.1233C71.7878 29.1233 71.4635 29.3654 71.3917 29.757L71.385 29.7902H70.9656L70.969 29.7505C71.0344 29.1564 71.5194 28.7316 72.2891 28.7316C73.069 28.7316 73.5571 29.1762 73.5571 29.8831V32.2459H73.1246V31.6153H73.1115C72.9248 32.027 72.4758 32.309 71.9715 32.309ZM71.2835 31.2902C71.2835 31.6685 71.598 31.9239 72.0599 31.9239C72.6561 31.9239 73.1246 31.4992 73.1246 30.9484V30.5666L72.1154 30.6363C71.5815 30.6697 71.2835 30.9054 71.2835 31.2836V31.2902ZM75.9912 32.2459V27.4573H76.4237V32.2459H75.9912ZM80.2563 32.309C79.2999 32.309 78.7065 31.622 78.7065 30.5301V30.527C78.7065 29.4449 79.3102 28.7316 80.2205 28.7316C81.1312 28.7316 81.7038 29.4217 81.7038 30.454V30.6264H79.1464C79.1591 31.4496 79.5946 31.9174 80.2659 31.9174C80.7677 31.9174 81.1145 31.662 81.2258 31.2868L81.233 31.2571H81.6617L81.6553 31.2902C81.5376 31.8809 80.9936 32.309 80.2563 32.309ZM80.2173 29.1233C79.6376 29.1233 79.2052 29.5447 79.1527 30.2781H81.2688C81.2195 29.5249 80.8003 29.1233 80.2173 29.1233ZM83.9609 32.2459V28.7945H84.3936V29.3821H84.4071C84.5773 29.0103 84.9607 28.735 85.511 28.735C86.2642 28.735 86.7096 29.226 86.7096 30.0357V32.2459H86.2777V30.1088C86.2777 29.4681 85.9636 29.1264 85.383 29.1264C84.7905 29.1264 84.3936 29.5579 84.3936 30.2016V32.2459H83.9609ZM90.3888 32.309C89.5306 32.309 88.9476 31.5988 88.9476 30.5202V30.5171C88.9476 29.4385 89.5338 28.7316 90.3856 28.7316C90.92 28.7316 91.3583 29.0369 91.5523 29.5146H91.5619V27.4573H91.9977V32.2459H91.5619V31.5292H91.5491C91.3519 32.0038 90.9264 32.309 90.3888 32.309ZM90.4707 31.9174C91.1133 31.9174 91.5651 31.3533 91.5651 30.5202V30.5171C91.5651 29.6873 91.1061 29.1233 90.4707 29.1233C89.8161 29.1233 89.393 29.6706 89.393 30.5171V30.5202C89.393 31.3732 89.8161 31.9174 90.4707 31.9174ZM95.4606 32.309C94.7885 32.309 94.3304 31.9007 94.3304 31.2902V31.2836C94.3304 30.696 94.7694 30.3409 95.552 30.288L96.6138 30.2217V29.923C96.6138 29.4251 96.302 29.1233 95.7715 29.1233C95.2768 29.1233 94.9523 29.3654 94.8808 29.757L94.8744 29.7902H94.4545L94.4577 29.7505C94.5237 29.1564 95.008 28.7316 95.7779 28.7316C96.5581 28.7316 97.0456 29.1762 97.0456 29.8831V32.2459H96.6138V31.6153H96.6003C96.4134 32.027 95.9648 32.309 95.4606 32.309ZM94.7726 31.2902C94.7726 31.6685 95.0868 31.9239 95.5488 31.9239C96.1445 31.9239 96.6138 31.4992 96.6138 30.9484V30.5666L95.6045 30.6363C95.0708 30.6697 94.7726 30.9054 94.7726 31.2836V31.2902ZM99.4507 32.2459V28.7945H99.8826V29.4153H99.8961C100.017 28.9938 100.318 28.7316 100.732 28.7316C100.847 28.7316 100.948 28.7548 101 28.7713V29.1994C100.944 29.1762 100.823 29.153 100.676 29.153C100.191 29.153 99.8826 29.5248 99.8826 30.1088V32.2459H99.4507Z"
                            fill="#F9F9F9"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_1080_4">
                            <rect
                                width="101"
                                height="34.9408"
                                fill="white"
                                transform="translate(0 0.529602)"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </a>
        <ul class="nav-links">
            <li class="app">
                <a href="/app"><span class="app">OPEN APP</span></a>
            </li>
            <li class="docs">
                <a
                    href="https://docs.google.com/document/d/1pK9j0opoE6Q1pyFtj7D-SGeagLI6br576WdbEQgN_Yc/edit?usp=sharing"
                    ><span class="long">Research documentation</span></a
                >
            </li>
            <li class="short">Docs</li>
            <li class="about"><a href="/about"> <span>About</span></a></li>
        </ul>
    </nav>
</header>
<style lang="scss">
    header {
        background-color: #1e2320;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }
    .logo {
        width: 7.937rem;
        height: 2.43144rem;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.25rem;
        flex: 1;
        max-width: 90rem;
        ul {
            list-style: none;
            display: flex;
            gap: 2.9375rem;
            li {
                font-weight: 300;
            }
            .long {
                display: block;
            }
            .short {
                display: none;
            }
            .app {
                font-weight: 700;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .nav-links a:hover {
        a, span, .about a {
            color: #51e572;
        }
    }
    @media (max-width: 768px) {
        .app,
        .docs {
            display: none;
        }
        .short {
            display: inline;
        }
    }
</style>
