---
import HeaderContent from "../components/HeaderContent.astro";
import Footer from "../components/Footer.astro";
import "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap"
            rel="stylesheet"
        />
       
        <title>Nitrogen Phosphorus Potassium</title>
    </head>

    <body>
        <Navbar />
        <HeaderContent />
        <!-- slot is index page -->
        <slot />
        <Footer />
    </body>
</html>
