---
import HeaderContent from "../components/HeaderContent.astro";
import Footer from "../components/Footer.astro";
import "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";
const { title, subtitle, image, imageposition, content, h1class, headercolor } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />
        <title>{ title }</title>
        
    </head>

    <style lang="scss">
        body {
            background-color: #f0f0f0;
        }
        .container {
            min-height: 100vh;
        }
        
        img {
            z-index: -1 ;
            width: 100%;
            height: 300px;
            object-fit: cover;
            
        } 
        .image_cover {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.322);
            .titleheader {
                position: absolute;
                padding: 0 0 3rem 6rem;
                color: #fff;
                
            }    
            h1::first-letter {
                color: #51E572;
            }
            .blue:first-letter {
                color: aqua;
            }
            h1 {
               
                font-size: clamp(2.25rem, 2vw + 2rem, 4rem);
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.486);
                font-family: "Share Tech Mono";
            }
            h4 {
                font-size: clamp(0.875rem, 1vw + 1rem, 1.5rem);
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: "Share Tech";
            }
        }
        .content {
            padding: 2rem 6rem;
            p {
                line-height: 1.6;
            }
        }
        @media screen and (max-width: 600px) {
            .image_cover .titleheader {
                padding: 0 0 2rem 1rem;
            }
            .content {   
                padding: 1rem
            }
        }
    </style>
    <body>
        <Navbar />
        <HeaderContent title={ title } headercolor={ headercolor }/>
        <slot>

         <div class="container">

        <div class="image_cover">
            <img src={ image } alt="" style={ imageposition }>
            
            <div class="titleheader">
             <h1 class={ h1class }>
              { title }
             </h1>
             <h4>
                { subtitle }
             </h4>
            </div> 
             
        </div>
        <div class="content">
           
            <p>
              { content }
            </p>
        </div>
        </div>   
        </slot>
        
        <Footer />
    </body>
</html>
